APP_PORT=8080
DB_URL=jdbc:postgresql://localhost:5432/stream_platform
DB_USERNAME=postgres
DB_PASSWORD=postgres
JWT_SECRET=ZmFrZXNlY3JldGtleWZvcmxvY2FsZGV2ZWxvcG1lbnRvbmx5MTIzNDU2Nzg5MDEyMzQ1Njc4OTA=
JWT_EXPIRATION_MINUTES=1440
FRONTEND_URLS=http://localhost:5173,http://127.0.0.1:5173
SPRING_PROFILES_ACTIVE=dev
